#siteEmailForm .control-label{
  		margin-top:15px;
  	}
  	.userBox{
  		margin:20px 0px;
  		border:1px solid #928F8F;
  		border-radius:4px;
  		-webkit-border-radius:4px;
  		-moz-border-radius:4px;
  		-o-border-radius:4px;
  		-ms-border-radius:4px;
  		
  	}
  	.lm_sbar{
  		position:relative;
  		margin:10px;
  	}
  	.lm_sbar .lm_sopen{
  		border: none;
	 background: none;
	 display: block;
	 position: absolute;
	 right:10px;
	 top:3px;
	 z-index:99;
  	}
  	.lm_sbar .txt{
  		width:100%;
  	}
  	.Resulttitle{
 		width: 100%;
  		background: #ccc;
  		padding:0px 10px;
  	}
  	.userBox ul{
  	padding:0px;
  	margin:0px;
  	}
  	.userBox ul li {
  		list-style:none;
  		padding:0px 0px 0px 40px;
  	}
  	.userBox ul li:hover {
  		background: #FFEEC2;
  		cursor: pointer;
  	}
  	.ResultBox{
  	max-height:270px;
  	overflow:auto;
  	}
  	.marginR10{
		margin-right:10px;
	}
	.paddingL40{
		padding-left:40px;
	}
	.selectUserEmail{
	display: block;
    width: 100%;
    min-height: 38px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	}
	.selectOption{
		display:inline-block;
		display:inline;
		zoom:1;
	}
	.selectOption input{
	display: none;
	}
	.selectOption small{
    color: #4e4f48;
   font-size: 100%;
	}
	.selectOption button.close{
	float:none !important;
	}
