<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <display-name>Archetype Created Web Application</display-name>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:applicationContext.xml</param-value>
    </context-param>

    <filter>
        <filter-name>characterEncodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>

    <!-- Shiro filter -->
    <filter>
        <filter-name>shiroFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
        <init-param>
            <param-name>targetFilterLifecycle</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>

    <filter>
        <filter-name>HiddenHttpMethodFilter</filter-name>
        <filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
    </filter>

    <!-- <filter> <filter-name>UrlRewriteFilter</filter-name> <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
        </filter> -->

    <filter-mapping>
        <filter-name>characterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>shiroFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>HiddenHttpMethodFilter</filter-name>
        <servlet-name>dispatcherServlet</servlet-name>
    </filter-mapping>

    <filter>
        <filter-name>DruidWebStatFilter</filter-name>
        <filter-class>com.alibaba.druid.support.http.WebStatFilter</filter-class>
        <init-param>
            <param-name>exclusions</param-name>
            <param-value>*.js,*.gif,*.jpg,*.png,*.css,*.ico,/druid/*</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>DruidWebStatFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- <filter-mapping> <filter-name>UrlRewriteFilter</filter-name> <url-pattern>/*</url-pattern>
        </filter-mapping> -->

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <!-- <listener> <listener-class>org.directwebremoting.servlet.DwrListener</listener-class>
        </listener> -->

    <!-- Spring 刷新Introspector防止内存泄露 -->
    <listener>
        <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
    </listener>

    <!-- SpringMVC核心分发器 -->
    <servlet>
        <servlet-name>dispatcherServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:spring-mvc.xml</param-value>
        </init-param>
        <init-param>
            <param-name>listings</param-name>
            <param-value>false</param-value>    <!-- This setting enables/disables directory listings -->
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>Kaptcha</servlet-name>
        <servlet-class>com.google.code.kaptcha.servlet.KaptchaServlet</servlet-class>
        <init-param>
            <param-name>kaptcha.border</param-name>  <!-- 边框 -->
            <param-value>no</param-value>
        </init-param>
        <init-param>
            <param-name>kaptcha.border.color</param-name>  <!-- 边框颜色 -->
            <param-value>105,179,90</param-value>
        </init-param>
        <init-param>
            <param-name>kaptcha.textproducer.font.color</param-name> <!-- 字体颜色 -->
            <param-value>blue</param-value>
        </init-param>
        <init-param>
            <param-name>kaptcha.image.width</param-name> <!-- 宽度 -->
            <param-value>150</param-value>
        </init-param>
        <init-param>
            <param-name>kaptcha.image.height</param-name>    <!-- 高度 -->
            <param-value>35</param-value>
        </init-param>
        <init-param>
            <param-name>kaptcha.textproducer.font.size</param-name>  <!-- 字体 -->
            <param-value>28</param-value>
        </init-param>
        <init-param>
            <param-name>kaptcha.textproducer.char.space</param-name>  <!--字符之间的间距 -->
            <param-value>8</param-value>
        </init-param>
        <init-param>
            <param-name>kaptcha.textproducer.char.length</param-name>  <!-- 字符的个数 -->
            <param-value>4</param-value>
        </init-param>
        <!-- 该属性官方jar包没有，否则会报错，下面会帖jar包连接的 -->
        <init-param>
            <param-name>kaptcha.obscurificator.impl</param-name>  <!-- 字符的个数 -->
            <param-value>com.google.code.kaptcha.impl.NoWater</param-value>
        </init-param>
</servlet>

<servlet>
<servlet-name>DruidStatView</servlet-name>
<servlet-class>com.alibaba.druid.support.http.StatViewServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>DruidStatView</servlet-name>
<url-pattern>/druid/*</url-pattern>
</servlet-mapping>

        <!-- <servlet> <servlet-name>dwr-invoker</servlet-name> <servlet-class>
            org.directwebremoting.servlet.DwrServlet </servlet-class> <init-param> <param-name>crossDomainSessionSecurity</param-name>
            <param-value>false</param-value> </init-param> <init-param> <param-name>allowScriptTagRemoting</param-name>
            <param-value>true</param-value> </init-param> <init-param> <param-name>config</param-name>
            如果有多个用","分开 <param-value> /WEB-INF/dwr.xml </param-value> </init-param> <init-param>
            <param-name>classes</param-name> <param-value>java.lang.Object</param-value>
            </init-param> <init-param> <param-name>activeReverseAjaxEnabled</param-name>
            <param-value>true</param-value> </init-param> <init-param> <param-name>initApplicationScopeCreatorsAtStartup</param-name>
            <param-value>true</param-value> </init-param> <init-param> <param-name>maxWaitAfterWrite</param-name>
            <param-value>3000</param-value> </init-param> <init-param> <param-name>debug</param-name>
            <param-value>true</param-value> </init-param> <init-param> <param-name>logLevel</param-name>
            <param-value>WARN</param-value> </init-param> </servlet> -->


        <!-- 覆盖default servlet的/, springmvc servlet将处理原来处理静态资源的映射 -->
<servlet-mapping>
<servlet-name>dispatcherServlet</servlet-name>
<url-pattern>/</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>dispatcherServlet</servlet-name>
<url-pattern>/dwr/*</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>Kaptcha</servlet-name>
<url-pattern>/Kaptcha.jpg</url-pattern>
</servlet-mapping>

        <!-- 出错页面定义 -->
        <!--<error-page>
          <exception-type>java.lang.Throwable</exception-type>
          <location>/error/main</location>
        </error-page>
        <error-page>
          <error-code>500</error-code>
          <location>/error/500</location>
        </error-page>
        <error-page>
          <error-code>404</error-code>
          <location>/error/404</location>
        </error-page>-->

<welcome-file-list>
<welcome-file>index.html</welcome-file>
<welcome-file>index.htm</welcome-file>
<welcome-file>index.jsp</welcome-file>
<welcome-file>default.html</welcome-file>
<welcome-file>default.htm</welcome-file>
<welcome-file>default.jsp</welcome-file>
</welcome-file-list>
<jsp-config>
<taglib>
<taglib-uri>/tags/utcdate</taglib-uri>
<taglib-location>/WEB-INF/lib/tld/utcdatetag.tld</taglib-location>
</taglib>
<taglib>
<taglib-uri>/eltag</taglib-uri>
<taglib-location>/WEB-INF/lib/tld/ElTag.tld</taglib-location>
</taglib>
</jsp-config>


        </web-app>
