<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.jtang.dao.custom.GeneralDataMapper">
 <select id="getGeneralData" parameterType="java.lang.String"  resultType="cn.com.jtang.po.GeneralData">
        <!-- set @rownum=0;
        select thistable.*,@rownum := @rownum +1 as num from ${tablename} as thistable where status = 1; -->
        select * from ${tablename} where status = 1 order by name asc;
        
    </select>
 <select id="getAllGeneralData" parameterType="java.lang.String"  resultType="cn.com.jtang.po.GeneralData">
        <!-- set @rownum=0;
        select thistable.*,@rownum := @rownum +1 as num from ${tablename} as thistable where status = 1; -->
        select * from ${tablename} order by name asc;
        
    </select>
 <select id="getGeneralDataById" parameterType="java.lang.String"  resultType="java.lang.String">
        
        select name from ${tablename} where id = #{id,jdbcType=VARCHAR}
        
    </select>
    <insert id="addGeneralData" parameterType="map">
        insert into ${tablename} (name,status,no) values (#{name,jdbcType=VARCHAR},'1',#{no})
    </insert>
    <delete id="deleteGeneralData" parameterType="map">
<!--         delete from ${tablename} where id = #{id,jdbcType=INTEGER};
        ALTER TABLE ${tablename} DROP `id`;
        ALTER TABLE ${tablename} ADD `id` int( 32 ) NOT NULL FIRST;
        ALTER TABLE ${tablename} MODIFY COLUMN `id` int( 32 ) NOT NULL AUTO_INCREMENT,ADD PRIMARY KEY(id); -->
        update ${tablename} set status = '-1' where id = #{id,jdbcType=INTEGER} 
    </delete>
    <update id="sureGeneralData" parameterType="map">
        
        update ${tablename} set status = 1 where id = #{id,jdbcType=VARCHAR}
    </update> 
 <select id="getCountByIndexTableName" parameterType="java.lang.String"  resultType="java.lang.Integer">
        
        select count(*) from indextable where name = #{name,jdbcType=VARCHAR}
        
    </select>
 <select id="getIndexTableMaxId" resultType="java.lang.Integer">
        
        select IFNULL(max(id),0) from indextable
        
    </select>
    
    <insert id="createGeneralData" parameterType="map">
    create table  index${maxid} (
			id int(4) not null primary key auto_increment,name varchar(32),status varchar(2),no varchar(32)
		) ENGINE=InnoDB DEFAULT CHARSET=utf8 ;
		
        INSERT INTO indextable (indextable, NAME)
			VALUES(
					CONCAT(
						'index',#{maxid,jdbcType=INTEGER}
					),
					#{name,jdbcType=VARCHAR}
			);
    </insert>
 <select id="getIndexTables" resultType="map">
        
        select * from indextable 
 </select>
 <select id="getIndexTableContent"  parameterType="java.lang.String" resultType="java.lang.String">
        select name from ${tablename} where status = 1 order by name limit 3
 </select>
    
    
    <select id="deleteDictionary" parameterType="map" resultType="java.lang.String">
        select name from indextable where indextable = #{indextable,jdbcType=VARCHAR};
        delete from indextable where indextable = #{indextable,jdbcType=VARCHAR};
        drop table if exists ${indextable};
        
    </select>
    
 <select id="getIndexName" parameterType="java.lang.String"  resultType="java.lang.String">
        
        select name from indextable where indextable = #{indextable,jdbcType=VARCHAR}
        
    </select>
    <!-- <resultMap id="BaseResultMap" type="cn.com.jtang.po.Document">
        
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="path" property="path" jdbcType="VARCHAR"/>
        <result column="recordid" property="recordid" jdbcType="VARCHAR"/>
        <result column="uploadtime" property="uploadtime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Tue Jun 21 11:29:25 CST 2016.
       
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Tue Jun 21 11:29:25 CST 2016.
       
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

 
    <delete id="deleteByExample" parameterType="cn.com.jtang.po.custom.DocumentViewExample">
        
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Tue Jun 21 11:29:25 CST 2016.
       
        delete from ${tableName}
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="map">
        
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Tue Jun 21 11:29:25 CST 2016.
       
        insert into ${tableName} (id, path, recordid,
        uploadtime)
        values (#{record.id,jdbcType=VARCHAR}, #{record.path,jdbcType=VARCHAR}, #{record.recordid,jdbcType=VARCHAR},
        #{record.uploadtime,jdbcType=TIMESTAMP})
    </insert>
    
    <select id="countByExample" parameterType="cn.com.jtang.po.custom.DocumentViewExample"
            resultType="java.lang.Integer">
        
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Tue Jun 21 11:29:25 CST 2016.
       
        select count(*) from ${tableName}
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
   
    <update id="updateByPrimaryKey" parameterType="cn.com.jtang.po.Document">
        
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Tue Jun 21 11:29:25 CST 2016.
       
        update ${tableName}
        set path = #{path,jdbcType=VARCHAR},
        recordid = #{recordid,jdbcType=VARCHAR},
        uploadtime = #{uploadtime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=VARCHAR}
    </update> -->
</mapper>